{% load cache%}
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="vertmenu">
        <h1>Каталог:</h1>
        <hr>
        {% cache 43200 nav %}
        <ul id="menu_left">
            {% for x in categories %}
            <li>
                <a  {% if x == findCategory %}
                        class="active"
                    {% endif%} href="{{ x.get_absolute_url }}">{{ x.name }}</a>
            <li>
                {% endfor %}
        </ul>
        {% endcache %}
    </div>
</div>