{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/products.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/category.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/base.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/left_menu.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/index.css'%}">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'main/css/media.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300;700&family=Poppins:wght@200&family=Russo+One&display=swap"
        rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <title>{% block titile %}{% endblock %}</title>
</head>

<body>
    {% block body %}{% endblock %}
    <div class="wrapper">
        <header class="header fixed">
            <div class="header_container">
                <a href="index.html">
                    <h1 class="header_item logo">Мебель<br>тут</h1>
                </a>
                <input type="checkbox" id="menuToggle">
                <label for="menuToggle" class="menu-icon"><img src="{% static 'main/img/list.svg'%}" alt="меню"></label>
                <ul id="menu_header">

                    <li class="list_header"><a class="header_item" href="/catalog">КАТАЛОГ</a>
                        <ul class="menu">
                            <ul>
                                <li><a href="#">Диваны угловые</a></li>
                                <li><a href="#">Гостиные</a></li>
                                <li><a href="#">Спальни</a></li>
                                <li><a href="#">Комоды и тумбы</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Диваны прямые</a></li>
                                <li><a href="#">Молодежные</a></li>
                                <li><a href="#">Кухни</a></li>
                                <li><a href="#">Столы</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Диваны модульные</a></li>
                                <li><a href="#">Прихожие</a></li>
                                <li><a href="#">Кровати и матрацы</a></li>
                                <li><a href="#">Кресла и стулья</a></li>
                            </ul>

                        </ul>
                    </li>
                    <li><a class="header_item" href="#">АКЦИИ</a></li>
                    <li><a class="header_item" href="contacts.html">КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div class="header_container">
                <a class="header_item inst" href="https://www.instagram.com/mebeltutbaranovichi/"><img
                        src="{% static 'main/img/instagram.svg'%}" alt="Инстаграм"></a>
                {% for x in phones%}
                {% if x.isMain %}
                <a class="header_item tel" href="tel:{{x.phone}}">
                    {{ x.phone }}</a>
                {% endif %}
                {% endfor %}
                <div class="header_item search">
                    <img src="{% static 'main/img/search.svg'%}" alt="Поиск">
                </div>
            </div>
        </header>
        <div class="header_after"></div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <div>
                <h1>Реквизиты</h1>
                <h2>ООО «МЕХО-М»</h2>
                <p>УНП 290327381, ОКПО 292130241000</p>
                <h2>Банковские реквизиты:</h2>
                <p>Расчетный счет № BY30 PJCB 3012 5301 2510 0000 0933 в ОАО «Приорбанк»</p>
                <h2>Адрес банка:</h2>
                <p>220002, г. Минск, ул. В. Хоружей, 31а. BIC банка PJCBBY2X</p>
            </div>
            <div>
                <h1>Каталог</h1>
                <ul>
                    <li><a href="">Мягкая мебель</a></li>
                    <li><a href="">Корпусная мебель</a></li>
                    <li><a href="">Кухни</a></li>
                    <li><a href="">Столы</a></li>
                    <li><a href="">Стулья</a></li>
                </ul>
            </div>
            <div>
                <h1>Контакты</h1>
                <h2>Адреса:</h2>
                <p>г. Барановичи</p>
                <ul class="small">
                    <li>ул. Брестская 270Д</li>
                    <li>ул. Пролетарская 48А</li>
                </ul>
                <h2>Телефоны:</h2>
                {% for x in phones%}
                    <p>{{x.phone}} {{x.store}} {% if x.isViber %}<img src="{% static 'main/img/viber.svg'%}" alt="">{% endif %}</p>
                {% endfor %}
                <h2>Email:</h2>
                <p>uma-mebel@list.ru</p>
                <h2>Instagram:</h2>
                <p><a href="https://www.instagram.com/mebeltutbaranovichi/">@mebeltutbaranovichi</a></p>
            </div>
        </footer>
    </div>
    <script src="{% static 'main/js/left.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    {% block script %}{% endblock %}
</body>

</html>