{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/contacts.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/products.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/category.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/base.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/left_menu.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/index.css'%}">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'main/css/media.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300;700&family=Poppins:wght@200&family=Russo+One&display=swap"
        rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    {% block body %}{% endblock %}
    <div class="wrapper">
        <header class="header fixed">
            <div class="header_container">
                <a href="/">
                    <h1 class="header_item logo">Мебель<br>тут</h1>
                </a>
                <input type="checkbox" id="menuToggle">
                <label for="menuToggle" class="menu-icon"><img src="{% static 'main/img/list.svg'%}" alt="меню"></label>
                <ul id="menu_header">

                    <li class="list_header"><a class="header_item" href="/catalog">КАТАЛОГ</a>
                        <ul class="menu">
                            {% for x in categories%}
                                <li><a href="{{ x.get_absolute_url}}">{{ x.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a class="header_item" href="/sales">АКЦИИ</a></li>
                    <li><a class="header_item" href="/contacts">КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div class="header_container">
                <a class="header_item inst" href="https://www.instagram.com/mebeltutbaranovichi/"><img
                        src="{% static 'main/img/instagram.svg'%}" alt="Инстаграм"></a>
                {% for x in phones%}
                {% if x.isMain %}
                <a class="header_item tel" href="tel:{{x.phone}}">
                    {{ x.phone }}</a>
                {% endif %}
                {% endfor %}
                <form action="{% url 'search' %}" method="get">
                    <input class="hide" type="text" id="search" name="search" value="{{search_data}}">
                    <button type="submit" class="hide" id="search__btn">Поиск</button>
                </form>
                <div class="header_item">
                    <button onclick="search()" class="search"><img src="{% static 'main/img/search.svg'%}" alt="Поиск"></button>
                </div>
            </div>
        </header>
        <div class="header_after"></div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <div>
                <h1>Реквизиты</h1>
                <h2>ООО «МЕХО-М»</h2>
                <p>УНП 290327381, ОКПО 292130241000</p>
                <h2>Банковские реквизиты:</h2>
                <p>Расчетный счет № BY30 PJCB 3012 5301 2510 0000 0933 в ОАО «Приорбанк»</p>
                <h2>Адрес банка:</h2>
                <p>220002, г. Минск, ул. В. Хоружей, 31а. BIC банка PJCBBY2X</p>
            </div>
            <div>
                <h1>Каталог</h1>
                <ul>
                    {% for x in categories %}
                        <li><a href="{{ x.get_absolute_url }}">{{ x.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h1>Контакты</h1>
                <h2>Адреса:</h2>
                <p>г. Барановичи</p>
                <ul class="small">
                    {% for x in address %}
                        <li>{{ x}}</li>
                    {% endfor %}
                </ul>
                <h2>Телефоны:</h2>
                {% for x in phones%}
                    <p>{{x.phone}} {{x.store.street}} {% if x.isViber %}<img src="{% static 'main/img/viber.svg'%}" alt="">{% endif %}</p>
                {% endfor %}
                <h2>Email:</h2>
                <p>uma-mebel@list.ru</p>
                <h2>Instagram:</h2>
                <p><a href="https://www.instagram.com/mebeltutbaranovichi/">@mebeltutbaranovichi</a></p>
            </div>
        </footer>
    </div>
    <script src="{% static 'main/js/left.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'main/js/search.js'%}"></script>
    {% block script %}{% endblock %}
</body>

</html>