{% extends 'main/base.html'%}
{% load static %}

{% block head %}
{% endblock %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
{% include "main/nav.html" %} 
{% endblock %}

{% block content %}
<div class="content2">
    <div class="items_list" id="main">
        <span onclick="navHandler()"><img src="{% static 'main/img/chevron-right.svg' %}" alt="меню" id="menu_btn" ></span>
        <div class="select_container">
            {% if isSearch %}
                <form action="{% url 'search' %}" method="get" id="sortProductByDate">
                    <input type="hidden" name="orderby" value="-date" />
                    <input type="hidden" name="search" value="{{ search_data }}"/>
                </form>
                <form action="{% url 'search' %}" method="get" id="sortProductByRating">
                    <input type="hidden" name="orderby" value="-rating"/>
                    <input type="hidden" name="search" value="{{ search_data }}"/>
                </form>
                <form action="{% url 'search' %}" method="get" id="sortProductByPriceUp">
                    <input type="hidden" name="orderby" value="price"/>
                    <input type="hidden" name="search" value="{{ search_data }}"/>
                </form>
                <form action="{% url 'search' %}" method="get" id="sortProductByPriceDown">
                    <input type="hidden" name="orderby" value="-price"/>
                    <input type="hidden" name="search" value="{{ search_data }}"/>
                </form>
            {% else %}
                <form action="{% url 'catalog' %}" method="get" id="sortProductByDate">
                    <input type="hidden" name="orderby" value="-date" />
                </form>
                <form action="{% url 'catalog' %}" method="get" id="sortProductByRating">
                    <input type="hidden" name="orderby" value="-rating"/>
                </form>
                <form action="{% url 'catalog' %}" method="get" id="sortProductByPriceUp">
                    <input type="hidden" name="orderby" value="price"/>
                </form>
                <form action="{% url 'catalog' %}" method="get" id="sortProductByPriceDown">
                    <input type="hidden" name="orderby" value="-price"/>
                </form>
            {% endif %}
                                            
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Сортировка: </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#" onclick="document.getElementById('sortProductByDate').submit();">По дате</a>
                    <a href="#" onclick="document.getElementById('sortProductByRating').submit();">По рейтингу</a>
                    <a href="#" onclick="document.getElementById('sortProductByPriceUp').submit();">По цене <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                      </svg></a>
                    <a href="#" onclick="document.getElementById('sortProductByPriceDown').submit();">По цене <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                      </svg></a>
                </div>
            </div>

        </div>
        <h1 id="category_name">{{ findCategory.name }}
            {% if findCollection %}
                {{findCollection}}
            {% endif %}
            {% if findManufacturer %}
                {{findManufacturer}}
            {% endif %}
        </h1>
        <div class="products">
            {% if page_obj %}
                {% for x in page_obj %}
                <div class="product_item">
                    {% if x.isOnSale %}
                        <div class="sale">Акция</div>
                    {% elif x.rating >= 900 %}
                        <div class="bestseller">Хит продаж</div>
                    {% else %}
                        {% for key, value in new.items %}
                            {% if key == x.name %}
                                {% if value == True %}
                                    <div class="new">Новинка</div>
                                    {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <img src="{{ x.mainImage.url }}" alt="">
                    <h3>{{ x.name }}</h3>
                    <h4>{{ x.manufacturer.name}} 
                        {% if x.collection%}
                        | {{ x.collection.name }}
                        {% endif %}
                    </h4>
                    <h4 id="price_h4">{{ x.price}} <span>BYN</span></h4>
                    <a href="{{ x.get_absolute_url }}" class="more">ПОДРОБНЕЕ</a>
                </div>
                {% endfor %}
            {% else %}
                <div id="empty">
                    <h1>Нет товаров</h1>
                </div>
            {% endif %}
        </div>
        {% include "main/pagination.html" %} 
    </div>
</div>
{% endblock %}


{% block script %}
<script src="https://kit.fontawesome.com/406fbec51e.js" crossorigin="anonymous"></script>
<script src="{% static 'main/js/select.js' %}"></script>
{% endblock %}