{% extends 'main/base.html'%}
{% load static %}

{% block head %}

{% endblock %}

{% block body %}
{% include "main/nav.html" %} 
{% endblock %}

{% block content %}
<div class="content2">
    <div class="items_list" id="main">
        <span onclick="navHandler()"><img src="{% static 'main/img/chevron-right.svg' %}" alt="меню" id="menu_btn" ></span>
    
        <div class="products">
            {% if page_obj %}
                {% for x in page_obj %}
                <div class="product_item">
                    {% if x.rating >= 900 %}
                        <div class="bestseller">Хит продаж</div>
                    {% elif x.isOnSale %}
                        <div class="sale">Акция</div>
                    {% else %}
                        {% for key, value in new.items %}
                            {% if key == x.name %}
                                {% if value == True %}
                                    <div class="new">Новинка</div>
                                    {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <img src="{{ x.mainImage.url }}" alt="">
                    <h3>{{ x.name }}</h3>
                    <h4>{{ x.manufacturer.name}}</h4>
                    <a href="{{ x.get_absolute_url }}" class="more">ПОДРОБНЕЕ</a>
                </div>
                {% endfor %}
            {% else %}
                <div id="empty">
                    <h1>Нет товаров</h1>
                </div>
            {% endif %}
        </div>
        {% include "main/pagination.html" %} 
    </div>
</div>
{% endblock %}


{% block script %}
<script src="https://kit.fontawesome.com/406fbec51e.js" crossorigin="anonymous"></script>
{% endblock %}