{% extends 'main/base.html'%}
{% load static %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
<div class="content">
    <div class="contacts_body">
        <div>
            <h1>Контакты</h1>
            <h2>Адреса:</h2>
            <p>г. Барановичи</p>
            <ul class="small">
                <li>ул. Брестская 270Д</li>
                <li>ул. Пролетарская 48А</li>
            </ul>
            <h2>Телефоны:</h2>
            {% for x in phones%}
                <p>{{x.phone}} {{x.store}} {% if x.isViber %}<img src="{% static 'main/img/viber.svg'%}" alt="">{% endif %}</p>
            {% endfor %}
            <p>uma-mebel@list.ru</p>
            <h2>Instagram:</h2>
            <p><a href="https://www.instagram.com/mebeltutbaranovichi/">@mebeltutbaranovichi</a></p>
        </div>
        <div id="map_container">
            Поле для Яндекс карт
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
{% endblock %}