{% extends 'main/base.html'%}
{% load static %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
<div class="content">
    <div class="contacts_body">
        <div>
            <h1>Контакты</h1>
            <p>г. Барановичи</p>
            <ul class="small">
                {% for x in address%}
                    <h2>{{x.name}}</h2>
                    <p>ул. {{ x.street }} {{x.number}}{{x.building}}</p>
                    <p>{% for i in phones %}
                            {% if i.store == x %}
                                <a class="header_item tel" id="footer_tel" href="tel:{{i.phone}}">{{i.phone}}</a>
                                {% if i.isViber %}<img src="{% static 'main/img/viber.svg'%}" alt="">{% endif %}
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endfor %}
            </ul>
            <div id="time_container">
                <h2>Режим работы</h2>
                <h3 class="time">Пн-Пт: 10:00 - 19:00</h3>
                <h3 class="time">Cб-Вс: 10:00 - 16:00</h3>
            </div>
            <div id="flex_div">
                <div class="zero">
                    <h2>Email:</h2>
                    <p>uma-mebel@list.ru</p>
                </div>
                <div class="zero">
                    <h2>Instagram:</h2>
                    <p><a class="header_item" id="footer_inst" href="https://www.instagram.com/mebeltutbaranovichi/">@mebeltutbaranovichi</a></p>
                </div>
            </div>
        </div>
        <div id="map_container">
            Поле для Яндекс карт
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
{% endblock %}