{% extends 'main/base.html'%}
{% load static %}
{% load thumbnail %}
{% block head %}
<link href="{% static 'main/css/aos.css' %}" rel="stylesheet">
<meta name="keywords" content="Каталог, Барановичи, Мебель, Купить">
{% endblock %}

{% block title %}
Мебель тут | Барановичи
{% endblock %}

{% block content %}
<div class="content">
    <div class="swiper mySwiper_index">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{% static 'main/img/mortiz.jpeg'%}" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'main/img/verona.jpeg'%}" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'main/img/astrid.jpeg'%}" alt=""></div>
        </div>
        <div class="swiper_text">
            <h1 data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="1000">Мебель тут</h1>
        </div>
    </div>
    <div class="info_container">
        <div class="info_item">
            <div>
                <h3 data-aos="fade-up" data-aos-duration="1000" id="h3">Мебель тут - ваш надежный партнер в создании комфортного и стильного интерьера!</h3>
                <p data-aos="fade-up" data-aos-duration="2000">Наша мебель отличается высоким качеством и надежностью, что гарантирует долговечность и удобство использования.</p>
            </div>
            <img data-aos="fade-left" data-aos-duration = "1000" src="{% static 'main/img/index_bed.jpg'%}" alt="Диваны">
        </div>
        <div class="info_item">
            <div id="second_info">
                <h3 data-aos="fade-up" data-aos-duration="1000">Наша мебель - это инвестиция в ваш дом или офис, которая прослужит долгие годы.</h3>
                <p data-aos="fade-up" data-aos-duration="2000"> Мы предлагаем широкий выбор материалов и цветовых решений, чтобы удовлетворить даже самый изысканный вкус. Мы с радостью поможем вам выбрать идеальную мебель для вашего интерьера и предоставим индивидуальный подход к каждому клиенту</p>
            </div>
        </div>
    </div>

    <div class="swiper mySwiper_index2" data-aos="fade-up">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="index_categories">
                    <div>
                        <a href="/catalog/spalni/collections">
                            <div class="item">
                                <span>Каталог</span>
                                <h1>Спальни</h1>
                            </div>
                            <div class="bg"></div>
                        </a>
                    </div>
                    <div>
                        <a href="/catalog/gostinnyie/collections">
                            <div class="item">
                                <span>Каталог</span>
                                <h1>Гостинные</h1>
                            </div>
                            <div class="bg"></div>
                        </a>
                    </div>
                    <div>
                        <a href="/catalog/kuhni">
                            <div class="item">
                                <span>Каталог</span>
                                <h1>Кухни</h1>
                            </div>
                            <div class="bg"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="index_categories">
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div><a href="/catalog/divanyi-modulnyie">
                            <div class="item">
                                <span class="smaller_header">Каталог</span>
                                <h1 class="smaller">Модульные диваны</h1>
                            </div>
                            <div class="bg"></div>
                        </a></div>
                    <div><a href="/catalog/divanyi-pryamyie">
                            <div class="item">
                                <span>Каталог</span>
                                <h1>Прямые диваны</h1>
                            </div>
                            <div class="bg"></div>
                        </a></div>
                    <div><a href="/catalog/divanyi-uglovyie">
                            <div class="item">
                                <span class="smaller_header">Каталог</span>
                                <h1 class="smaller">Угловые диваны</h1>
                            </div>
                            <div class="bg"></div>
                        </a></div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="index_categories">
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div><a href="/catalog/prihozhie/collections">
                            <div class="item">
                                <span>Каталог</span>
                                <h1>Прихожие</h1>
                            </div>
                            <div class="bg"></div>
                        </a></div>
                    <div><a href="/catalog/molodyozhnyie/collections">
                            <div class="item">
                                <span>Каталог</span>
                                <h1>Молодёжные</h1>
                            </div>
                            <div class="bg"></div>
                        </a></div>
                </div>
            </div>

        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
    </div>

    <h1 id="last" data-aos="fade-up">Популярные товары:</h1>
    <div class="popular_product">
        {% for x in products %}
            <div class="popular_item" data-aos="zoom-in-right" data-aos-delay="300" data-aos-duration="800">
                {% if x.rating >= 900 %}
                    <div class="bestseller">Хит продаж</div>
                {% elif x.isOnSale %}
                    <div class="sale">Акция</div>
                {% else %}
                    {% for key, value in new.items %}
                        {% if key == x.name %}
                            {% if value == True %}
                                <div class="new">Новинка</div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                    <img src="{% thumbnail x.mainImage 400x400 %}" alt="">
                    <h3>{{ x.name }}</h3>
                    <h4>{{ x.manufacturer.name}}
                        {% if x.collection%}
                            | {{ x.collection.name }}
                    {% endif %}</h4>
                    <h4 id="price_h4">{{ x.price}} <span>руб</span></h4>
                    <a href="{{ x.get_absolute_url }}" class="more">ПОДРОБНЕЕ</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'main/js/aos.js' %}"></script>
<script>
    
    AOS.init();

    const swiper = new Swiper('.mySwiper_index', {
        direction: 'horizontal',
        loop: true,

        scrollbar: {
            el: '.swiper-scrollbar',
            draggable: true,
            hide: true,
        },

        autoplay: {
            delay: 5000,
        },

        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
    });

    const swiper2 = new Swiper('.mySwiper_index2', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        autoplay: {
            delay: 7000,
            pauseOnMouseEnter: true,
            waitForTransition: true
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
            draggable: true,
            hide: false
        },

        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
    });


</script>
{% endblock %}