{% extends 'main/base.html'%}
{% load static %}

{% block title %}
Мебель тут | Барановичи
{% endblock %}

{% block content %}
<div class="content">
    <div class="swiper mySwiper_index">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{% static 'main/img/mortiz.jpeg'%}" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'main/img/verona.jpeg'%}" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'main/img/astrid.jpeg'%}" alt=""></div>
        </div>
        <div class="swiper_text">
            <h1>Мебель тут</h1>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
    </div>
    <div class="info_container">
        <div class="info_item">
            <div>
                <h3 id="h3">ФАБРИКА МЕБЕЛИ MEXO — ГАРМОНИЯ СТИЛЯ, ВОПЛОЩЕННАЯ В ЖИЗНЬ</h3>
                <p>Любовь и трепетное отношение к своему ремеслу вдохновляет нас создавать современные диваны,
                    рождённые в творческом изобилии. Всегда оригинально, тонко, изысканно. </p>
            </div>
            <img src="{% static 'main/img/sofa.avif'%}" alt="Диваны">
        </div>
        <div class="info_item">
            <div id="second_info">
                <h3>ФАБРИКА МЕБЕЛИ MEXO — ГАРМОНИЯ СТИЛЯ, ВОПЛОЩЕННАЯ В ЖИЗНЬ</h3>
                <p>Любовь и трепетное отношение к своему ремеслу вдохновляет нас создавать современные диваны,
                    рождённые в творческом изобилии. Всегда оригинально, тонко, изысканно. </p>
            </div>
        </div>
    </div>

    <div class="swiper mySwiper_index2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="index_categories">
                    <div>
                        <a href="#">
                            <div class="item">
                                <span>Каталог</span>
                                <h1>Спальни</h1>
                            </div>
                            <div class="bg"></div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="item">
                                <span>Каталог</span>
                                <h1>Гостинные</h1>
                            </div>
                            <div class="bg"></div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="item">
                                <span>Каталог</span>
                                <h1>Кухни</h1>
                            </div>
                            <div class="bg"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="index_categories">
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div><a href="#">
                            <div class="item">
                                <span class="smaller_header">Каталог</span>
                                <h1 class="smaller">Модульные диваны</h1>
                            </div>
                            <div class="bg"></div>
                        </a></div>
                    <div><a href="#">
                            <div class="item">
                                <span>Каталог</span>
                                <h1>Прямые диваны</h1>
                            </div>
                            <div class="bg"></div>
                        </a></div>
                    <div><a href="#">
                            <div class="item">
                                <span class="smaller_header">Каталог</span>
                                <h1 class="smaller">Угловые диваны</h1>
                            </div>
                            <div class="bg"></div>
                        </a></div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="index_categories">
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div><a href="#">
                            <div class="item">
                                <span>Каталог</span>
                                <h1>Прихожие</h1>
                            </div>
                            <div class="bg"></div>
                        </a></div>
                    <div><a href="#">
                            <div class="item">
                                <span>Каталог</span>
                                <h1>Детские</h1>
                            </div>
                            <div class="bg"></div>
                        </a></div>
                </div>
            </div>

        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
    </div>

    <h1 id="last">Популярные товары:</h1>
    <div class="popular_product">
        {% for x in products %}
            <div class="popular_item">
                {% if x.rating >= 900 %}
                    <div class="bestseller">Хит продаж</div>
                {% elif x.isOnSale %}
                    <div class="sale">Акция</div>
                {% else %}
                    {% for key, value in new.items %}
                        {% if key == x.name %}
                            {% if value == True %}
                                <div class="new">Новинка</div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <img src="{{ x.mainImage.url }}" alt="">
                    <h3>{{ x.name }}</h3>
            <h4>{{ x.manufacturer.name}}</h4>
                <a href="{{ x.get_absolute_url }}" class="more">ПОДРОБНЕЕ</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block script %}
<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
            draggable: true,
            hide: false
        },

        autoplay: {
            delay: 5000,
        },

        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
    });

    const swiper2 = new Swiper('.mySwiper_index2', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
            draggable: true,
            hide: false
        },

        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
    });


</script>
{% endblock %}