{% extends 'main/base.html'%}
{% load static %}

{% block head %}

{% endblock %}

{% block body %}
{% include "main/nav.html" %} 
{% endblock %}

{% block content %}
<div class="content2">
    <div class="items_list" id="main">
        <span onclick="navHandler()"><img src="{% static 'img/chevron-right.svg' %}" alt="меню" id="menu_btn"></span>
        <div class="collection">
            {% for x on page_obj %}
                <div class="catalog_image_container">
                    <a href="{{ x.get_absolute_url }}">
                        <h1>{{x.name}}</h1>
                        <img src="{{ x.image.url }}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script src="https://kit.fontawesome.com/406fbec51e.js" crossorigin="anonymous"></script>
{% endblock %}