{% extends 'main/base.html'%}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/product.css'%}">
{% endblock %}

{% block body %}
{% include "main/nav.html" %} 
{% endblock %}

{% block content %}
<div class="content2">
    <div class="items_list" id="main">
        <span onclick="navHandler()"><img src="{% static 'main/img/chevron-right.svg' %}" alt="меню" id="menu_btn"></span>
        <div class="product">
            <h1>{{current.name}}
                {% if current.rating >= 900 %}
                    <div class="bestseller_product">Хит продаж</div>
                {% elif current.isOnSale %}
                    <div class="sale_product">Акция</div>
                {% elif new %}
                    <div class="new_product">Новинка</div>
                {% endif %}
            </h1>
            <div class="swiper-container">
                <div class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="{{ current.mainImage.url }}" alt=""></div>
                        {% for x in currentImages %}
                            <div class="swiper-slide"><img src="{{ x.image.url }}" alt=""></div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="{{ current.mainImage.url }}" alt=""></div>
                        {% for x in currentImages %}
                            <div class="swiper-slide"><img src="{{ x.image.url }}" alt=""></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="info_container">
                <hr>
                <div class="info">
                    <h2>Характеристики:</h2>
                    <p><span>Производитель</span><span>{{current.manufacturer}}</span></p>
                    {% if current.collection %}
                        <p><span>Коллекция</span><span><a href="{{current.collection.get_absolute_url}}">{{current.collection}}</a></span></p>
                    {% endif %}
                    {% for x in currentSpecs %}
                        <p><span>{{ x.get_param_display }} {%if x.unit %}, {{x.get_unit_display}} {% endif %}</span><span>{{ x.value }}</span></p>
                    {% endfor %}
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="https://kit.fontawesome.com/406fbec51e.js" crossorigin="anonymous"></script>
<script>
    let swiper = new Swiper(".mySwiper", {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
        loop: true,
    });


    let swiper2 = new Swiper(".mySwiper2", {
        spaceBetween: 10,
        loop: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });
</script>
{% endblock %}