{% extends 'main/base.html'%}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/product.css'%}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bigger-picture@1.1.7/dist/bigger-picture.min.css">
{% endblock %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
{% include "main/nav.html" %}
{% endblock %}

{% block content %}
<div class="content2">
    <div class="items_list" id="main">
        <span onclick="navHandler()"><img src="{% static 'main/img/chevron-right.svg' %}" alt="меню"
                id="menu_btn"></span>
        <div class="product">
            <div class="swiper-container">
                <div class="swiper mySwiper2">
                    <div class="swiper-wrapper" id="images">
                            <div class="swiper-slide">
                                <a
                                    href="{{ current.mainImage.url }}"
                                    data-img="{{ current.mainImage.url }}"
                                    data-thumb="{{ current.mainImage.url }}"
                                    data-alt="Главное фото {{ current.name }}"
                                    data-height="2000"
                                    data-width="3000"
                                >
                                    <img
                                    src="{{ current.mainImage.url }}"
                                        alt="Главное фото {{ current.name }}"
                                    />
                                </a>
                            </div>
                        {% for x in currentImages %}
                            <div class="swiper-slide">
                                <a
                                    href="{{ x.image.url }}"
                                    data-img="{{ x.image.url }}"
                                    data-thumb="{{ x.image.url }}"
                                    data-alt="Фото {{ current.name }}"
                                    data-height="2000"
                                    data-width="3000"
                                >
                                    <img
                                    src="{{ x.image.url }}"
                                        alt="Фото {{ current.name }}"
                                    />
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="{{ current.mainImage.url }}" alt=""></div>
                        {% for x in currentImages %}
                            <div class="swiper-slide"><img src="{{ x.image.url }}" alt=""></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="info_container">
                <h1>{{current.name}}
                    {% if current.rating >= 900 %}
                        <div class="bestseller_product">Хит продаж</div>
                    {% elif current.isOnSale %}
                        <div class="sale_product">Акция</div>
                    {% elif new %}
                        <div class="new_product">Новинка</div>
                    {% endif %}
                </h1>
                <h3 id="price">Цена: {{current.price}} <span>руб</span></h3>
                <p id="manufacturer">Производитель: <a
                        href="{{current.manufacturer.get_absolute_url}}">{{current.manufacturer}}</a></p>
                {% if current.collection %}
                <p id="collection">Коллекция: <a
                        href="{{current.collection.get_absolute_url}}">{{current.collection}}</a></p>
                {% endif %}
                <hr>
                <div class="info">
                    <h2>Характеристики:</h2>
                    {% for x in currentSpecs %}
                    <p><span>{{ x.get_param_display }} {%if x.unit %}, {{x.get_unit_display}} {% endif %}</span><span>{{x.value }}</span></p>
                    {% endfor %}
                </div>
                <hr>
            </div>
            <div class="feedback">
                <h2>Заинтересовало?</h2>
                <p>Оставьте свои данные, наш менеджер перезвонит вам</p>
                <form action="{{ current.get_absolute_url}}" method="post" novalidate enctype="multipart/form-data"
                    id="feedback_form">
                    {% csrf_token %}
                    <div><label for="name">Имя:</label>
                        {{ feedback.name }}
                        <hr>
                    </div>
                    <div><label for="tel">Номер телефона:</label>
                        {{ feedback.phone }}
                        <hr>
                    </div>
                    <button type="submit">Перезвонить мне</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="https://kit.fontawesome.com/406fbec51e.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'main/js/maska-nomera.js' %}" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/bigger-picture@1.1.7/dist/bigger-picture.min.js"></script>
<script>
    let swiper = new Swiper(".mySwiper", {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
        loop: true,
    });


    let swiper2 = new Swiper(".mySwiper2", {
        spaceBetween: 10,
        loop: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });


    $('.art-stranger').mask('+375 (99) 999-99-99');
    $.fn.setCursorPosition = function (pos) {
        if ($(this).get(0).setSelectionRange) {
            $(this).get(0).setSelectionRange(pos, pos);
        } else if ($(this).get(0).createTextRange) {
            var range = $(this).get(0).createTextRange();
            range.collapse(true);
            range.moveEnd('character', pos);
            range.moveStart('character', pos);
            range.select();
        }
    };

    $('input[type="tel"]').click(function () {
        $(this).setCursorPosition(6);  // set position number
    });    

    if('{{ isFeedback }}' == 'true'){
        let timerInterval
        Swal.fire({
            title: '{{ feedback_title }}',
            text: '{{ feedback_message }}',
            icon: '{{ icon }}',
            timer: 2000,
            timerProgressBar: true,
            didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                    b.textContent = Swal.getTimerLeft()
                }, 100)
            },
            willClose: () => {
                clearInterval(timerInterval)
                window.location.replace('/product/{{ current.slug }}'); 
            }
        }).then((result) => {
            window.location.replace('/product/{{ current.slug }}');
        })
    }

    let bp = BiggerPicture({
	    target: document.body,
    })

    // grab image links
    let imageLinks = document.querySelectorAll('#images .swiper-slide > a')

    // add click listener to open BiggerPicture
    for (let link of imageLinks) {
        link.addEventListener("click", openGallery);
    }

    // function to open BiggerPicture
    function openGallery(e) {
	    e.preventDefault()
	    bp.open({
		    items: imageLinks,
		    el: e.currentTarget,
            intro: 'fadeup'
	    })
    }
</script>
{% endblock %}