:root {
    --swiper-navigation-size: 55px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: grey;

    --Open-Sans: 'Open Sans', sans-serif;
    --Comfortaa: 'Comfortaa', cursive;
    --Russo-One: 'Russo One', sans-serif;
    --Montserrat: 'Montserrat', sans-serif;

    --new_color: rgb(0, 167, 0);
    --bestseller_color: rgb(30, 9, 196);
    --sale_color: rgb(198, 7, 7);
    --footer_color: rgb(125, 125, 125, 0.2);
}

.content2 {
    display: flex;

}

.vertmenu {
    margin-left: 20px;
    width: 310px;
    font-family: var(--Montserrat);
    user-select: none;
}

.vertmenu ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.vertmenu ul li {
    position: relative;
    margin: 0;
    line-height: 30px;
    text-transform: uppercase;
}

.vertmenu ul li li {
    padding-left: 20px;
}

.vertmenu .subCat,
.chka {
    top: 0;
    right: 0px;
    position: absolute;
    cursor: pointer;
}

.vertmenu .subCat.plus,
.chka:before,
.vertmenu .subCat.minus,
.subCat:checked+.chka:before {
    content: '\25BC';
    font-size: 26px;
    color: #000000;
    font-weight: bold;
    font-family: Courier;
    position: absolute;
    top: 8px;
    left: -30px;
}

.vertmenu .subCat.minus,
.subCat:checked+.chka:before {
    content: '-';
}

.vertmenu a {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}

.vertmenu hr {
    margin-bottom: 10px;
}

.vertmenu ul li li a {
    color: #666;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

.vertmenu a.active {
    background-color: var(--footer_color);
    border-radius: 10px;
    color: #000000;
}

.vertmenu a:hover {
    text-decoration: none;
    color: #000000;
}

.vertmenu>ul>li ul {
    display: none;
}

.vertmenu>ul>li a.active+span+ul {
    display: block !important;
}

.vertmenu>ul>li .subCat:checked~ul {
    display: block !important;
}

.vertmenu input[type=checkbox].subCat {
    display: none;
}

.vertmenu ul li li a:before {
    content: '\203A';
    font-size: 20px;
    padding-right: 6px;
    color: #666;
    font-weight: bold;
}

.vertmenu>ul li li a:hover:before {
    color: #1266B1;
}

#menu_left {
    width: 310px;
    height: fit-content;
    position: absolute;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.items_list {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    height: fit-content;
    position: relative;
}

.pagination {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: 40px;
    margin-top: 50px;
    font-family: var(--Comfortaa);
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Стиль активной/текущей ссылки */
.pagination a.active {
    background-color: dodgerblue;
    color: white;
    pointer-events: none
}

/* Добавить серый цвет фона при наведении курсора мыши */
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.catalog_image_container a {
    color: #000000;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.catalog_image_container a:hover {
    color: var(--bestseller_color);
}

.catalog_image_container h1 {
    margin-right: 0;
    font-family: var(--Montserrat);
    font-size: 4rem;
    padding: 60px;
    padding-bottom: 0px;
    width: fit-content;
}

.catalog_image_container img {
    width: 100%;
    height: 500px;
    padding: 60px;
    object-fit: cover;
}

#empty {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.select_container {
    position: absolute;
    top: 35px;
    right: 80px;
}

.dropbtn {
    background-color: var(--footer_color);
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 160px;
    font-family: var(--Montserrat);
}

.dropbtn:hover, .dropbtn:focus {
    opacity: 80%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 160px;
    font-family: var(--Montserrat);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

#category_name{
    font-family: var(--Montserrat);
}
