{% extends "unfold/layouts/base.html" %}
{% load i18n unfold %}


{% block content %}
    {% include "unfold/helpers/messages.html" %}
    {% component "unfold/components/card.html" with class="lg:w-1/2" title="Выберите доставку" %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% component "unfold/components/button.html" with variant="default" submit="True" %}
                {% trans "Выбрать" %}
            {% endcomponent %}

        </form>
        <a href="{% url 'admin:orders_order_changelist' %}">Назад к списку заказов</a>
    {% endcomponent %}
{% endblock %}
